.body {
	min-width: 800px;
  display: table;
  margin: auto;
}
.list{
  display: table-cell;
}

.canvas{
  margin-top: 30px;
}

.left{
  border-right: 10px solid gray;
  margin-top: 30px;
}

.right{

}

